---
import ArrowR from "@components/icons/ArrowR.astro";

interface Props {
  cardTitle: string;
  cardContent: string;
  href: string;
}

const { cardTitle, cardContent, href } = Astro.props;
---

<a class="gm_services-card" href={href}>
  <header class="gm_services-card-header">
    <div class="gm_services-card-header-title">
      <img src="/gm-logo.svg" alt="Logo de GM Abogados Laboralistas" />
      <h3>{cardTitle}</h3>
    </div>
  </header>
  <p>{cardContent}</p>
  <footer class="gm_services-card-footer">
    <span class="gm_services-card-header-arrow"><ArrowR /></span>
  </footer>
</a>

<style>
  .gm_services-card {
    display: block;
    background: var(--gm-bg-secondary);
    padding: 1.5rem;
    background-image: url("/images/bg2.svg");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: left bottom;
    border-radius: 1.5rem;
    border: 1px solid var(--gm-bg-secondary);
    cursor: pointer;
    position: relative;
    overflow: hidden;
    text-decoration: none;
    color: inherit;
    transition: transform 150ms ease-in-out;

    p {
      margin-top: 1rem;
      font-size: 1.1rem;
      line-height: 1.2;
      font-weight: 500;

      @media screen and (width >= 768px) {
        font-size: 1.4rem;
      }
    }
  }

  .gm_services-card-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1rem;
  }

  .gm_services-card-header-title {
    display: flex;
    align-items: center;
    gap: 1rem;

    h3 {
      display: inline-block;
      font-size: 1.4rem;
      color: var(--gm-title-text);
      font-weight: 600;
      max-width: 70%;

      @media screen and (width >= 768px) {
        font-size: 3.6rem;
        max-width: none;
      }
    }

    img {
      width: 10rem;
      height: 10rem;
      position: absolute;
      right: -0.2rem;
      top: -1.5rem;
      opacity: 0.2;

      @media screen and (width >= 768px) {
        width: 16rem;
        height: 16rem;
        right: 0;
        top: -2rem;
      }
    }
  }

  .gm_services-card-header-arrow {
    width: 3.4rem;
    height: 3.4rem;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    border-radius: 999px;
    background: linear-gradient(to bottom, var(--gm-accent), #d9c39c);
    border: none;
    cursor: pointer;
    color: var(--gm-bg-secondary);
    transition: transform 150ms ease-in-out;
    transform: rotate(45deg);

    &:active {
      transform: scale(0.95);
    }
  }

  .gm_services-card:hover .gm_services-card-header-arrow {
    transform: rotate(0deg);
  }

  .gm_services-card:active {
    transform: scale(0.98);
  }

  .gm_services-card-footer {
    display: flex;
    justify-content: flex-end;
    margin-top: 1.5rem;
  }
</style>
