---
import Section from "@common/Section.astro";
import Container from "@common/Container.astro";
import SectionTitle from "@common/SectionTitle.astro";
import Button from "@common/Button.astro";
import SlidesCards from "@common/SlideCards.astro";

const cardsData = [
  {
    title: "Despido injustificado sin liquidación",
    content:
      "El empleador termina la relación laboral sin causa legal y sin pagar las indemnizaciones y prestaciones obligatorias al trabajador.",
    icon: "/images/document-dismiss.svg",
    tags: ["ART. 48"],
  },
  {
    title: "Acoso Laboral o Discriminación",
    content:
      "Cualquier trato hostil, intimidatorio o diferencia de trato injustificada en el trabajo, basada en características personales, que afecte la dignidad o cree un ambiente ofensivo.",
    icon: "/images/emoji-sad.svg",
    tags: ["ART. 3o. Bis", "ART. 133"],
  },
  {
    title: "Falta de Pago de Horas Extras o Prestaciones",
    content:
      "El empleador no paga el tiempo trabajado fuera de la jornada legal (horas extras) o no entrega las prestaciones obligatorias por ley, como aguinaldo, vacaciones o prima vacacional.",
    icon: "/images/money.svg",
    tags: ["ART. 67", "ART. 68"],
  },
  {
    title: "Problemas con tu Contrato o Salario",
    content:
      "Cuando tu contrato no está por escrito, incluye cláusulas ilegales que renuncian a tus derechos, o tu salario se paga incompleto, con retraso o es inferior al mínimo legal.",
    icon: "/images/contract.svg",
    tags: ["ART. 25", "ART. 110"],
  },
  {
    title: "Accidentes en el trabajo",
    content:
      "Lesiones o enfermedades sufridas por el trabajador a causa o con motivo de su trabajo, que pueden generar incapacidad temporal, permanente o la muerte.",
    icon: "/images/doctor.svg",
    tags: ["ART. 473", "ART. 487"],
  },
  {
    title: "¿Tu situación es distinta? Cuéntanos tu caso.",
    icon: "/images/handshake.svg",
    href: "#contacto",
  },
];
---

<Section id="do-you-identify" background="secondary">
  <Container>
    <div class="gm_problems-content">
      <div>
        <SectionTitle>
          ¿Te Identificas con alguna de estas situaciones?
        </SectionTitle>
      </div>
      <div class="gm_problems-text">
        <p class="gm_section-text">
          Sabemos que el ambiente laboral puede ser injusto. Si enfrentas alguna
          de estas situaciones, no estás solo. No permitas que la incertidumbre
          te gane.
        </p>
        <div class="gm_section-button">
          <Button itsA="link" href="#contact">Obtén Asesoría Ahora</Button>
        </div>
      </div>
    </div>
    <SlidesCards cardsData={cardsData} />
  </Container>
</Section>

<style>
  .gm_problems-text {
    p {
      font-size: 1.2rem;
      margin-top: 1.5rem;
      font-weight: 500;
      line-height: 1.25;

      @media screen and (width >= 768px) {
        max-width: 42rem;
        font-size: 1.4rem;
        margin-top: 0;
      }
    }
  }

  .gm_problems-content {
    @media screen and (width >= 768px) {
      display: flex;
      justify-content: space-between;
      align-items: flex-start;
      gap: 4rem;
    }
  }

  .gm_section-button {
    padding-top: 2rem;
  }
</style>
