---
import Button from "@common/Button.astro";
---

<div class="gm_header-content">
  <h1 class="gm_pill">Abogados Laboralistas</h1>
  <h2 class="gm_header-title">
    Tus Aliados contra el Abuso y el Despido Injustificado
  </h2>
  <p class="gm_header-text">
    Si fuiste despedido injustamente o no te pagan lo que te corresponde, te
    ayudamos a obtener la justicia y la compensación que mereces.
  </p>
  <div class="gm_header-button">
    <Button itsA="link" href="#contact">Obtén Asesoría Ahora</Button>
  </div>
</div>

<style>
  .gm_header-content {
    @media screen and (width >= 768px) {
      flex: 2;
      max-width: 50rem;
    }

    @media screen and (width >= 1200px) {
      max-width: 56rem;
    }
  }

  .gm_pill {
    background-color: rgba(31, 59, 90, 0.1);
    display: inline-block;
    font-size: 1rem;
    padding: 0.4rem 1rem;
    border-radius: 999px;
    color: var(--gm-primary);
    font-weight: 600;
    border: 2px solid rgba(255, 254, 254, 0.8);
  }

  .gm_header-title {
    font-family: var(--gm-family-title);
    color: var(--gm-title-text);
    font-size: 2rem;
    text-wrap: pretty;
    line-height: 1.2;
    margin-top: 1.5rem;
    font-weight: 700;

    @media screen and (width >= 768px) {
      font-size: 3rem;
    }

    @media screen and (width >= 1024px) {
      font-size: 4.5rem;
    }
  }

  .gm_header-text {
    font-size: 1.2rem;
    margin-top: 1.5rem;
    font-weight: 500;
    line-height: 1.25;

    @media screen and (width >= 768px) {
      max-width: 42rem;
      font-size: 1.4rem;
    }
  }

  .gm_header-button {
    padding-top: 2rem;
  }
</style>
