---
import Container from "@common/Container.astro";
import HeaderImage from "./HeaderImage.astro";
import HeaderContent from "./HeaderContent.astro";
---

<header class="gm_header">
  <Container>
    <div class="gm_header-container">
      <HeaderContent />
      <HeaderImage />
    </div>
  </Container>
</header>

<style>
  .gm_header {
    min-height: 100dvh;
    padding: 7rem 0;
  }

  .gm_header-container {
    display: flex;
    flex-direction: column;

    @media screen and (width >= 1024px) {
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      gap: 2rem;
    }
  }
</style>
