.gm_slide-card {
  background-color: var(--gm-bg);
  background-image: url("/images/bg.svg");
  background-size: cover;
  background-position: center;
  width: 80%;
  border-radius: 1.5rem;
  height: auto;
  aspect-ratio: 1/1.2;
  overflow: hidden;
  position: relative;
  padding: 1.5rem 1rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  scroll-snap-align: start;
  flex-shrink: 0;
  transform-origin: center center;
  transform: scale(1);
  transition: transform 0.5s;
  position: relative;
  border: 1px solid var(--gm-bg);
  aspect-ratio: 1/1.4;

  @media screen and (width >= 1024px) {
    width: 100%;
    aspect-ratio: 1/1;
  }

  h3 {
    position: relative;
    top: 0;
    font-size: 1.4rem;
    text-wrap: balance;
    font-weight: 600;
    line-height: 1.1;
    color: var(--gm-title-text);
    margin-top: 0.6rem;

    @media screen and (width >= 768px) {
      font-size: 1.8rem;
    }
  }

  .gm_slide-card-button {
    display: flex;
    align-items: center;
    border: none;
    gap: 0.5rem;
    font-weight: 500;
    cursor: pointer;
    text-decoration: underline;
    text-decoration-color: var(--gm-accent);
    text-underline-offset: 4px;
    position: relative;
    z-index: 21;
    background: none;
    align-self: flex-end;

    i {
      background: linear-gradient(to right, var(--gm-primary), #35597c);
      box-shadow: 0 0.4em 1em rgba(0, 0, 0, 0.1);
      padding: 0.4rem;
      border-radius: 999px;
      color: var(--gm-bg-secondary);
      transition: transform 300ms ease-in-out;

      &.rotate {
        transform: rotate(90deg);
      }
    }
  }
}

.gm_slide-icon {
  padding: 0.5rem;
  background: linear-gradient(to bottom, var(--gm-accent), #d9c39c);
  display: inline-flex;
  border-radius: 1rem;
  margin-bottom: 0.6rem;

  img {
    width: 2.3rem;
    height: 2.3rem;
  }
}

.gm_slide-card-content {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 1.5rem 1rem;
  z-index: 20;
  background-color: rgba(255, 254, 254, 0.7);
  border-radius: 1.5rem;
  backdrop-filter: blur(4px);
  color: var(--gm-title-text);
  font-size: 1.2rem;
  transition: transform 300ms ease-in-out;
  transform: translateY(105%);
  border: 1px solid var(--gm-bg);
  font-weight: 500;
  box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px,
    rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;

  &.gm_content-show {
    transform: translateY(10%);
  }
}

.gm_slide-card-tags {
  display: flex;
  gap: 0.5rem;
  flex-wrap: wrap;
  margin-top: 1rem;

  .gm_slide-card-tag {
    background: var(--gm-accent-gradient);
    color: var(--gm-bg-secondary);
    padding: 0.2rem 0.6rem;
    border-radius: 0.3rem;
    font-size: 0.8rem;
    font-weight: 600;
  }
}
