---
interface Props {
  id?: string;
  background?: "primary" | "secondary";
}

const { id, background = "primary" } = Astro.props;
---

<section
  id={id}
  class={`gm_section ${background === "primary" ? "bg-primary" : "bg-secondary"}`}
>
  <slot />
</section>

<style>
  .gm_section {
    padding: 4rem 0;

    @media screen and (width >= 768px) {
      padding: 7rem 0;
    }
  }

  .bg-primary {
    background-color: var(--gm-bg);
  }

  .bg-secondary {
    background-color: var(--gm-bg-secondary);
  }
</style>
