---
import "../styles/global.css";
import "@fontsource-variable/inter";
import "@fontsource-variable/merriweather";
---

<!doctype html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>
      GM Abogados Laboralistas - Tus Aliados contra el Abuso y el Despido
      Injustificado
    </title>
  </head>
  <body>
    <slot />
  </body>
</html>
