---
import "../styles/global.css";
import "@fontsource-variable/inter";
import "@fontsource-variable/merriweather";
---

<!doctype html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <link rel="canonical" href="https://gm-abogados.netlify.app/" />
    <meta name="generator" content={Astro.generator} />
    <meta
      name="description"
      content="GM Abogados Laboralistas, especialistas en despido injustificado. Asesoría legal experta para proteger tus derechos laborales. Contacta a nuestros abogados hoy."
    />
    <meta
      name="keywords"
      content="abogado laboral, despido injustificado, asesoría legal laboral, derechos laborales, abogado especialista en despidos, defensa laboral, consultoría legal laboral, representación legal en despidos, GM Abogados Laboralistas, abogado laboral en Ciudad de México"
    />
    <meta
      name="google-site-verification"
      content="beXwCVh9q8DGIIrhC6eELbsmkYgzH4EPhqW47znPC2Y"
    />
    <meta name="author" content="Ing. Ángel Baez" />
    <meta name="robots" content="index, follow" />
    <meta name="language" content="Spanish" />
    <meta name="geo.region" content="MX" />
    <meta name="geo.placename" content="Mexico" />
    <meta name="rating" content="general" />
    <meta name="distribution" content="global" />
    <meta name="target" content="all" />
    <meta name="handheldFriendly" content="true" />
    <meta name="MobileOptimized" content="320" />
    <meta property="og:type" content="website" />
    <meta property="og:url" content="https://gm-abogados.netlify.app/" />
    <meta
      property="og:description"
      content="GM Abogados Laboralistas, especialistas en despido injustificado. Asesoría legal experta para proteger tus derechos laborales. Contacta a nuestros abogados hoy."
    />
    <meta
      property="og:image"
      content="https://https://gm-abogados.netlify.app/public/gm-logo.svg"
    />
    <title>
      GM Abogados Laboralistas - Abogado Laboral especialista en Despido
      Injustificado
    </title>
  </head>
  <body>
    <slot />
  </body>
</html>
