---
const { href } = Astro.props;
---

<li class="nav-item">
  <a href={href} class="nav-link">
    <slot />
  </a>
</li>

<style>
  .nav-item {
    &:last-child .nav-link {
      border-bottom: none;
      padding-bottom: 0;
    }

    &:first-child .nav-link {
      padding-top: 0;
    }

    @media screen and (width >= 1100px) {
      line-height: 1.375;
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }

  .nav-link {
    display: block;
    transition: color 150ms ease;
    color: var(--gm-text-title);
    text-decoration: none;
    font-weight: 500;
    border-bottom: 1px solid rgba(106, 106, 132, 0.2);
    padding: 1rem 0;

    @media screen and (width >= 1100px) {
      font-size: var(--gm-font-normal);
      font-weight: 500;
      color: var(--gm-text);
      padding: 0;
      border: none;
      display: flex;
      align-items: center;
    }

    &:hover {
      color: var(--gm-title-text);
    }
  }
</style>

<script>
  const $nav = document.querySelector("#menu");
  const $navLinks = document.querySelectorAll(".nav-link");

  $navLinks.forEach((link) => {
    link.addEventListener("click", () => {
      $nav?.classList.remove("open");
    });
  });
</script>
