<a
  id="logo"
  href="/"
  class="logo"
  aria-label="GM Abogados Laboralistas - Página de inicio"
>
  <img src="/logo-crop.svg" alt="Logo de GM Abogados Laboralistas" />
</a>

<style>
  .logo {
    padding: 0.7rem 1.5rem;
    border-radius: 999px;
    border: 3px solid var(--gm-bg-secondary);
    display: inline-block;
    backdrop-filter: blur(10px);
    background-color: rgba(255, 255, 255, 0.7);
    position: relative;
    z-index: 30;

    img {
      height: 2rem;
    }
  }
</style>
