---
const { href } = Astro.props;
---

<li class="nav-item">
  <a href={href} class="nav-link">
    <slot />
  </a>
</li>

<style>
  .nav-item {
    line-height: 1.375;
    border-bottom: 1px solid rgba(106, 106, 132, 0.2);
    padding: 1rem 0;
  }

  .nav-item:last-child {
    border-bottom: none;
    padding-bottom: 0;
  }

  .nav-item:first-child {
    padding-top: 0;
  }

  .nav-link {
    transition: color 150ms ease;
    color: var(--gm-text-title);
    text-decoration: none;
    font-weight: 500;
  }

  .nav-link:hover {
    color: var(--gm-title-text);
  }
</style>
